# config.mk
# Local configuration for Full Moon builds.
# You shouldn't need to change Makefile for per-host things, change them here instead.

#------------------------------------------
# For all targets.

# Who are we building for? There must be `etc/target/{}.mk` for each.
TARGETS:=web generic

# npm install -g http-server
HTTP_SERVER_CMD:=http-server -a localhost -p 8080 -c-1

NODE:=node --unhandled-rejections=strict

# Some command aliases for convenience.
run:web-run
edit:web-edit
deploy:web-deploy
fiddle:web-fiddle
verify:web-verify
adulterate:linux-adulterate

#-------------------------------------------
# For "web" target.

# https://github.com/WebAssembly/wasi-sdk
web_WASI_SDK:=/home/andy/proj/thirdparty/wasi-sdk-16.0
web_CCINC_EXTRA:=

# Do not allow these details out to GitHub!
# And we are never storing the password, even here.
# If these are all set, you can `make web-deploy` to scp the web build out to the internets.
web_DEPLOY_USER:=
web_DEPLOY_HOST:=
web_DEPLOY_PATH:=

#---------------------------------------------
# Other targets.

tools_CC_EXTRA:=-Wno-format-overflow
tools_LD_EXTRA:=
tools_LDPOST_EXTRA:=
tools_OPT_EXTRA:=

linux_USE_GLX:=1
linux_USE_DRM:=1
linux_USE_ALSA:=1
linux_USE_PULSE:=1
