# config.mk
# Local configuration for Full Moon builds.
# You shouldn't need to change Makefile for per-host things, change them here instead.

#------------------------------------------
# For all targets.

# Who are we building for? There must be `etc/target/{}.mk` for each.
TARGETS:=web generic

# We prefer to compose the `ld` command line in a temp file, here in make.
# That is required for Windows; otherwise the command is too long.
# But on Macs, apparently `$(file > PATH,CONTENT)` doesn't work. So skip it.
MAKE_FILE_COMMAND_BROKEN:=

# npm install -g http-server
HTTP_SERVER_CMD:=http-server -a localhost -p 8080 -c-1

NODE:=node --unhandled-rejections=strict

# Some command aliases for convenience.
run:web-run
edit:web-edit
deploy:web-deploy
fiddle:web-fiddle
verify:web-verify
adulterate:linux-adulterate

# Optional external library that facilitates dumping framebuffers to an external monitor device.
# https://github.com/aksommerville/gamemon
GAMEMON:=../gamemon

#-------------------------------------------
# For "web" target.

# https://github.com/WebAssembly/wasi-sdk
web_WASI_SDK:=/home/andy/proj/thirdparty/wasi-sdk-16.0
web_CCINC_EXTRA:=

# Do not allow these details out to GitHub!
# And we are never storing the password, even here.
# If these are all set, you can `make web-deploy` to scp the web build out to the internets.
web_DEPLOY_USER:=
web_DEPLOY_HOST:=
web_DEPLOY_PATH:=

#---------------------------------------------
# Other targets.

tools_CC_EXTRA:=-Wno-format-overflow
tools_LD_EXTRA:=
tools_LDPOST_EXTRA:=
tools_OPT_EXTRA:=

linux_USE_GLX:=1
linux_USE_DRM:=1
linux_USE_ALSA:=1
linux_USE_PULSE:=1
linux_USE_STDSYN:=1
linux_CC_EXTRA:=
linux_RUN_ARGS:=

mswin_TOOLCHAIN:=i686-w64-mingw32-
mswin_CC_EXTRA:=
mswin_RUN_ARGS:=

# Some identifier from your keychain that we can pass to `codesign -s`, blank to leave unsigned.
macos_CODESIGN_NAME:=
