body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #48f;
}

.hidden {
  display: none;
}

input.toggle {
  display: none;
}
input.toggle + label {
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #444;
  border-right: 2px solid #444;
  background-color: #888;
}
input.toggle:checked + label {
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  background-color: #666;
}
input.toggle:checked + label > * {
  transform: translate(1px, 1px);
}

/* Generic modals.
 *********************************************************/

.modalBlotter {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /*z-index: 100;*/
  background-color: #000;
  opacity: 0.8;
}

.modalStack {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalStack .modalFrame {
  background-color: #cba;
  color: #000;
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: #000 0 0 2em 0.5em;
  padding: 1em;
  position: absolute;
  max-width: 90vw;
}

/* RootUi
 ********************************************/
 
.RootUi {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
}

/* GameUi
 *****************************************/
 
.GameUi {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GameUi > .gameView {
  image-rendering: pixelated;
}
.GameUi > .gameView.fuzzy {
  image-rendering: unset;
}

.GameUi > .gameView {
  opacity: 0.5;
  filter: blur(3px);
}
.GameUi > .gameView.running {
  opacity: 1;
  filter: blur(0);
  cursor: none;
}

/* MenuUi
 **********************************************/
 
.MenuUi {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.MenuUi.visible {
  display: flex;
}

.MenuUi > .popup {
  background-color: #edb;
  color: #530;
  border-radius: 1em;
  box-shadow: #000 0 0 1em;
  max-width: 80%;
  max-height: 80%;
  min-width: 200px;
  min-height: 200px;
  padding: 1em;
  opacity: 0.8;
  font-family: serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.MenuUi > .popup > h2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MenuUi > .popup > .footer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.MenuUi > .popup > .footer > a {
  margin-left: 1em;
}
.MenuUi > .popup > .footer > .spacer {
  flex: 1;
}

/* MenuOptionsUi
 **************************************************/
 
.MenuOptionsUi {
  flex: 1;
}

.MenuOptionsUi td.value {
  height: 2em; /* Padding in my inputs didn't affect the table row heights... odd */
}

.MenuOptionsUi input[type="radio"] + label {
  border: 1px solid #000;
  border-right: 0;
  padding: 0.25em 0.5em;
}
.MenuOptionsUi input[type="radio"] + label:last-of-type {
  border-right: 1px solid #000;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.MenuOptionsUi input[type="radio"] + label:first-of-type {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.MenuOptionsUi input[type="radio"]:checked + label {
  background-color: #ff0;
  color: #000;
}
.MenuOptionsUi input[type="radio"] {
  display: none;
}

/* ErrorModal
 ******************************************/
 
.ErrorModal .error {
  white-space: pre;
  min-width: 50vw;
  min-height: 50vh;
  max-height: 90vh;
  overflow: scroll;
  font-family: monospace;
}

/* InputConfigurationModal
 *****************************************/
 
.InputConfigurationModal {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  width: 80vw;
  height: 80vh;
  max-width: 1024px;
  max-height: 1024px;
}

.InputConfigurationModal > .deviceList {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 9pt;
  max-width: 30%;
}

.InputConfigurationModal > .detailsPanel {
  flex: 1;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.InputConfigurationModal > .deviceList > .entry {
  padding: 5px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  user-select: none;
}

.InputConfigurationModal > .deviceList > .entry.selected {
  background-color: #6af;
}

.InputConfigurationModal > .detailsPanel > .mapContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.InputConfigurationModal > .detailsPanel > .mapContainer > .mapEntry {
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
}

.InputConfigurationModal > .detailsPanel > .mapContainer > .mapEntry.active {
  background-color: #ff0;
}

.InputConfigurationModal > .detailsPanel > .keyboardHeader {
  display: flex;
  flex-direction: row;
}

.InputConfigurationModal .keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  max-height: 500px;
}
.InputConfigurationModal .keyboard .dpad {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.InputConfigurationModal .keyboard .dpadMid {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.InputConfigurationModal .keyboard .kRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.InputConfigurationModal .keyboard input {
  width: 10em;
  height: 2em;
}
.InputConfigurationModal .input-pic-dpad {
  background-image: url('./fmchrome.png');
  background-position: -1px -1px;
  width: 53px;
  height: 53px;
}
.InputConfigurationModal .input-pic-use {
  background-image: url('./fmchrome.png');
  background-position: -55px -1px;
  width: 19px;
  height: 19px;
}
.InputConfigurationModal .input-pic-choose {
  background-image: url('./fmchrome.png');
  background-position: -55px -21px;
  width: 19px;
  height: 19px;
}
